@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Roboto', 'sans-serif';
}
.profile
{
    min-height: 355px;
    display: inline-block;
    background-color: #e9f0f4;
}
figcaption.ratings
{
    margin-top:20px;
}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
}

.route-row {
    left: 11%;
    position: relative;
    top: -20%;
}

.route-modal-info-box-quarters {
    margin-top: 0!important;
}

.carousel-inner {
    max-height: 660px!important;
    min-height: 600px!important;
    width:100%;
}

#user-name {
    text-decoration: underline;
    margin-bottom: 0px;
}

.item {
    position:relative;

}

.carousel-slide {

}

.tree-badge{
    position: absolute;
    right:20px;
    bottom: 0px;
    text-align: center;
    color:white;
    font-size:60px;
    color: green;
}

#basicExampleModal{
    display: block;
}

#user-rank {
    border-radius: 4px;
    color: white;
    width: min-content;
    background-color: #005a52;
    margin-top: 5px;
}
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
}
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
    border-top: 4px solid transparent;
}
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
}
.emphasis h2
{
    margin-bottom:0;
}
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider
{
    background:none;
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}

.route-description {
    margin-bottom: 5%;
    font-size: 24px;
}

.modal-info-box-routes {
    background-image: url("./route-bg.png");
    background-color: #74b79b!important;
    height: 650px;
    background-repeat-x: no-repeat;
    background-position: right;
}


.route-modal-quarter-bottom-row {
    margin-top: 3%;
}


.mapboxgl-map {
    z-index: -1;
}

.route-modal-quarter {
    height: 150px;
}

.route-modal-quarter-upper-row {
    border-bottom: 2px solid;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/* Modal Header */
.modal-header {
    background-position-y: -140px;
    padding: 2px 16px;
    background-image: url(https://mirsg.ru/shared/upload/IMAGES/Directions/Alpine/jpg.jpeg);
    background-color: #5cb85c;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;
    /*background-color: #e9f0f4;*/
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    margin-top: 2%;
    background-color: #5cb85c;
    color: white;
}

.modal-block-cards-row {
    margin-top: 5%;
}

.modal-block-card-inner-block {
    background-color: #005a52;
    height: 80px;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
}

.journey-guides-name {
    font-size: 16px;
}

.modal-block-card {
    padding: 0;
    height: 550px;
    background-color: rgba(254,254,254,1.0);
    background-clip: padding-box;
    border: 10px solid transparent;

}

.route-modal-info-box-journey {
    height: 300px!important;
    margin-top: 5%!important;
}

.join-journey-button {
    border-radius: 15px;
    font-weight: 700;
    background-color: #7acdb8;
    height: 40px;
    color: white;
    font-size: 24px;
    padding: 4px 4px 4px 4px;
    margin-top: 5%;
}

.journey-big-text {
    border-bottom: 1px solid white;
    font-size: 18px;
}

.journey-guide-image {
    width: 96px;
    height: 96px;
}

.journey-user-image {
    width: 64px;
    height: 64px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(254,254,254,0.2);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header-title-block {
    text-align: left;
    padding-left: 2%;
    width: 50%;
    height: 200px;
    position: relative;
    top: 10%;
    background-color: rgba(112,156,152,0.5);
    line-height: 150px;

}
.route-modal-header-title-block {
    text-align: center;
    padding-left: 0;
    width: 100%;
    height: 200px;
    position: relative;
    top: 10%;
    background-color: rgba(112,156,152,0.5);
    line-height: 150px;

}

.route-modal-oopt-text {
    padding-bottom: 8px;
    font-weight: 700;
    white-space: pre;
    font-size: 32px;
    border-bottom: 4px solid white; /* Параметры линии внизу */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

.title-oopt-text {

    padding-bottom: 8px;
    text-align: left;
    font-weight: 700;
    white-space: pre;
    font-size: 32px;
    border-bottom: 4px solid white; /* Параметры линии внизу */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.rating-block {
    float: right;
}

.modal-block-card-inner-block-icon {
    color: white;
    position: absolute;
    top: 4%;
    font-size: 40px;
    padding-top: 4%;
    left: 5%;
}
.modal-info-box {
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.40);
    padding: 30px;
    margin-top: 5%;
    background-color: #7acdb8;
    color: white;
}

.model-block-card-inner-block-title-text {
font-size: 24px;
    padding-top: 8%;

    font-weight: 700;
color: white;
}

.modal-info-text {
    font-size: 16px;
    font-weight: 400;
}

.comment-box-wrapper {
    margin-top: 5%;
    padding: 10px 10px 0px 10px;
    height: 260px;
    background-color: #dce0e6;
}

.slider-wrapper {
    text-align: center;
    margin-top: 5%;
}

.send-review-button {
    text-align: center;
    color: white;
    width: 100px;
    margin-top: 7px;
    float: right;
    background-color: #73b69a;
    font-size: 16px;
}

.first-in-block {
    margin-top: 10%;
}

.modal-guide-name {
    margin-left: 10px;
    font-weight: 700;
}
.image-slider {
    display: inline-block!important;
}

.modal-info-card-entry {
    height: 25%;
}


.modal-guide-image {
    width: 64px;
    height: 64px;
}
.review-box {
    margin-top: 5%;
    width: 100%;
    height: 400px;
    background-color: #dce0e6;
}

.review-avatar {
    margin-left: 3%;
    width: 96px;
    height: 96px;
    margin-top: 3%;
}

.review-name {
    text-decoration: underline;
    margin-left: 3%;
    font-size: 32px;
}

.review-text {
    padding: 10px 10px 10px 10px;
    text-align: center;
    position: relative;
    background-color: white;
    width: 90%;
    height: 190px;
    margin: 2% auto;
}

.rating-title {
    font-size: 16px;
    font-weight: 700;
}

/*.rating-icon-checked:hover {*/
/*    color: gray;*/
/*}*/

.rating-icon-unchecked:hover {
    color: #34495e;
}

.rating-icon {
    padding-left: 5px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 1%;
}

.rating-icon-unchecked {
    color: gray;
}

.rating-icon-checked {
    color: #34495e;
}

.profile-achievments-box {
    margin-top: 5%;
    height: 150px;
    background-color: white;
    padding: 0;
}
.profile-journeys-box {
    margin-top: 5%;
    height: 300px;
    background-color: white;
    padding: 0;
}

.achievments-row {
    padding-right: 15px;
    margin-top: 3%;
    padding-left: 15px;
}

.achievment {
    cursor: pointer;
}


.profile-achievments-box-header {
    width: 100%;
    height: 50px;
    background-color: #005a52;

}

.profile-achievments-title {
    color: white;
    font-size: 24px;
    position: relative;
    top: 7%;
}

.profile-achievments-box-icon {
    color: white;
    position: absolute;
    top: 4%;
    font-size: 40px;
    left: 5%;
}
.profile-journeys-box-icon {
    color: white;
    position: absolute;
    top: 2%;
    font-size: 40px;
    left: 5%;
}


/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



